@import url(botao-sair.css);

body {
    background-color: #C4703A;
    color: #F5D5B8;
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    background-image: url('/images/biblioteca-com-pessoas.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 10px 0 10px;
}

.cabecalho{
   display: flex;
   justify-content: center;
   gap: 15px;
   margin-bottom: 5px;
   padding: 15px
}

.cabecalho img{
height: 80px;
width: auto;
}

.card {
    background-color: #F0E0CC;
    border-radius: 10px;
    border: 1px solid #E0A070;
    width: 260px;
    padding: 16px;
    word-break: break-all;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cargo {
    background-color: #E0A070;
    color: #1E0C04;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 20px;
}

.card-nome {
    font-size: 14px;
    font-weight: bold;
    color: #1E0C04;
    margin: 12px 0 4px 0;
}

.card-email {
    font-size: 13px;
    color: #3A1A0A;
    margin: 0 0 12px 0;
}

.card-idLivro {
    font-size: 13px;
    color: #3A1A0A;
    margin: 0 0 12px 0;
}

.card-status {
    width: auto;
    display: flex;
    align-items: center;
    background-color: #D4B89A;
    color: #1E0C04;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 20px;
    justify-content: end;
}

.card-labels {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.btn-editar {
    width: 60px;
    padding: 6px 0;
    font-size: 12px;
    background-color: #8A3E18;
    color: #FFD9B8;
    border: 1px solid #8A3E18;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.btn-deletar {
    width: 60px;
    padding: 6px 0;
    font-size: 12px;
    background-color: #5C1F0A;
    color: #F5D5B8;
    border: 1px solid #57A2E10;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-novo {
    background-color: #5C1F0A;
    color: #F5D5B8;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    display: flex;
}

.btn-voltar{
    background-color: #5C1F0A;
    color: #F5D5B8;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 32px 10px;
}

.buscador{
    margin: 0 0 10px 10px;
}

.buscador input{
    border-radius: 6px;
    color: #1E0C04;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #FFFAEA;
}

.buscador input::placeholder{
    color:#8A3E18;
    padding-right: 8px;
}

.buscador select{
   padding: 6px;
    border-radius: 8px;
    background-color: #5C1F0A;
    color: #F5D5B8;
    border: 0;
}