*{
font-family: "Bricolage Grotesque", sans-serif;
}

body{
    background-color: #C4703A;
    font-family: Arial, sans-serif;
    background-image: url('/images/tela-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.login-email{
    display: block;
    margin-bottom: 25px;
}

input{
    border: 1px solid #D4B89A;
    margin-top: 5px;
    border-radius: 4px;
    width: 100%;
    height: 28px;
    padding-left: 10px;
    background-color: #FFFAEA;
}

.login-botoes{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    gap: 10px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 2px;
}

label{
    margin-top: 40px;
}

.avancar{
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

.btn-avancar{
    background-color: #8A3E18;
    color: #FFD9B8;
    cursor: pointer;
    border: 1px solid #8A3E18;
    margin-bottom: 5px;
}

.btn-avancar:hover{
    background-color: #D4B89A;
    color: #8A3E18;
}

img{
height: 80px;
width: auto;
}

.cabecalho{
   display: flex;
   justify-content: center;
   gap: 15px;
   margin-bottom: 5px;
   padding: 15px;
}

section{
    display: flex;
    gap: 500px;
}

.login{
    border: 1px solid #e5e7eb;
    width: 55vh;
    max-width: 520px;
    background-color: #F0E0CC;
    border-radius: 10px;
    padding: 20px;
}

.cadastro{
    max-width: 520px;
    background-color: #F0E0CC;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid #e5e7eb;
    height: 70vh;
    width: 55vh;
    margin: 40px 0 0 100px;
}

.sem-conta{
    margin-top: 5px;
}

.sem-conta p{
    font-weight: normal;
}

.sem-conta a{
    color: #8A3E18;
    text-decoration: none;
}

input::placeholder{
 color:#8A3E18;
 padding-right: 8px;
}