<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="icon" type="image/png" href="/images/BIBLIOTECH.png">
    <link rel="stylesheet" th:href="@{/css/styleCadastroUser.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
</head>
<body>

    <div th:if = "${mensagemErro}">
        <p th:text = "${mensagemErro}"></p>
    </div>

    <section>
        <form th:object="${user}" method="post" th:action="@{/salvar}">
            <div class="sign">

                <div class="cabecalho">
                    <a th:href="@{/home}"><img th:src="@{/images/BIBLIOTECH.png}" alt="logo"></a>
                    <h1>BIBLIOTECH</h1>
                </div>

                <div th:if = "${mensagemEmail}">
                    <p th:text = "${mensagemEmail}"></p>
                </div>
              
                <h3 th:text = "${user.id == null } ? 'Cadastro' : 'Atualizar Usuário' "></h3>

                <input type="hidden" th:field="*{id} ">
                <input type="hidden" th:if="${user.id == null}" th:field="*{status}">
                <input type="hidden" th:if="${user.id == null}" th:field="*{cargo}">

                <div class="login-email">
                    <label>Nome: </label>
                    <input type="text" th:field="*{nome}"  placeholder=" Digite seu nome" required autofocus>
                </div>

                <div class="login-email">
                    <label>Email: </label>
                    <input type="email" th:field="*{email}" placeholder=" Digite seu e-amail" required>
                </div>

                <div class="login-senha">
                    <label>Senha: </label>
                    <input type="text" name="senha"
                           th:value="${user.id != null ? '' : ''}"
                           th:placeholder="${user.id != null ? ' Digite sua senha (deixe em branco para manter)' : ' Digite sua senha'}"
                           th:required="${user.id == null}">
                </div>

                <div th:if="${user.id != null}">

                    <div class="livros">
                        <label>Livros alugados: </label>
                        <div class="tela-fundo">
                            <div th:each="livro : ${livrosAlugados}" class="info-livro">
                                <span th:text="${livro.nome}"></span>
                                <a th:href="@{/devolverLivro/{idUser}/{idLivro}(idUser=${user.id}, idLivro=${livro.id})}">Remover</a>
                            </div>
                        </div>
                        <p th:if="${user.livrosAlugados.isEmpty()}">Nenhum livro alugado</p>
                    </div>

                    <div class="campo">
                        <label>Status: </label>
                        <select th:field="*{status}" required>
                            <option value="">Selecione...</option>
                            <option th:each="s : ${statuss}" th:value="${s}" th:text="${s}"></option>
                        </select>

                        <label>Cargo: </label>
                        <select th:field="*{cargo}" required>
                            <option value="">Selecione...</option>
                            <option th:each="c : ${cargos}" th:value="${c}" th:text="${c}"></option>
                        </select>

                    </div>

                </div>

                <div class="botoes">
                    <button type="submit" class="btn-salvar">
                        Salvar
                    </button>
                    <a th:href="@{/}" class="btn-cancelar">Cancelar</a>
                </div>
            </div>

        </form>
    </section>

</body>
</html>