<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livros</title>
    <link rel="icon" type="image/png" href="/images/BIBLIOTECH.png">
    <link rel="stylesheet" th:href="@{/css/styleCadastroLivros.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
</head>

<body sec:authorize="hasRole('ALUNO')">

<h1>Você não possui permissão!</h1>

</body>

<body sec:authorize="hasRole('ADMIN')">

<section>

    <div class="cabecalho">
        <a th:href="@{/home}"><img th:src="@{/images/BIBLIOTECH.png}" alt="logo"></a>
        <h1>BIBLIOTECH</h1>
    </div>

    <h1 class = "tituloCadastro" th:text = "${livro.id == null } ? 'Novo Livro' : 'Atualizar Livro'"> </h1>

    <div th:if = "${mensagemErro}">
        <p th:text = "${mensagemErro}"></p>
    </div>

    <form th:object="${livro}" method="post" th:action="@{/home/salvarLivro}">

        <input type="hidden" th:field="*{id} ">

    <div class="campo">
        <label for="nome">Nome do livro</label>
        <input type="text" th:field="*{nome}" id="nome" name="nome" placeholder="Ex: Dom Casmurro" >
    </div>

    <div class="campo">
        <label for="autor">Autor</label>
        <input type="text" th:field="*{autor}" id="autor" name="autor" placeholder="Ex: Machado de Assis">
    </div>


        <div class="campo">
            <label for="genero">Gênero</label>
            <select id="genero" name="genero" th:field="*{genero}">
                <option value="">Selecione...</option>
                <option value="romance">Romance</option>
                <option value="ficcao">Ficção Científica</option>
                <option value="fantasia">Fantasia</option>
                <option value="terror">Terror</option>
                <option value="misterio">Mistério</option>
                <option value="biografia">Biografia</option>
                <option value="historia">História</option>
                <option value="infantil">Infantil</option>
                <option value="outro">Outro</option>
            </select>
        </div>


    <div class="campo">
        <label for="urlImagem">URL da imagem da capa</label>
        <input type="url" th:field="*{urlCapa}" id="urlImagem" name="urlImagem" placeholder="https://exemplo.com">
    </div>

    <div class="botoes">
        <a type="button" class="btn-cancelar" th:href="@{/home}">Cancelar</a>
        <button type="submit" class="btn-salvar">Salvar livro</button>
    </div>
        </form>
</section>


</body>
</html>