<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuários</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

</head>

<body>
    <header>

        <div class="cabecalho">
            <a th:href="@{/home}"><img th:src="@{/images/BIBLIOTECH.png}" alt="logo"></a>
            <h1>BIBLIOTECH</h1>
        </div>

        <h1>Usuários</h1>

        <div class="botoes">
            <a th:href="@{/cadastro}" class="btn-novo">+ Novo usuário</a>

            <a class="btn-voltar" th:href="@{/home}">Voltar</a>
        </div>

    </header>


    <div class="buscador">

        <form th:action="@{/users}" method="get">
            <input type="text" name="email" th:value="${param.email}" placeholder="Pesquisar por email...">
            <select name="status" onchange="this.value === 'todos' ? window.location.href='/users' : this.form.submit()">
                <div class="filtro">
                    <option value="todos" th:selected="${param.status == null or param.status == 'todos'}">Todos</option>
                    <option th:each="s : ${statuss}" th:value="${s}" th:text="${s}" th:selected="${#strings.equals(param.status, s)}"></option>
                </div>
            </select>
            <button type="submit" class="btn-editar">Buscar</button>
        </form>
    </div>

        <div th:if="${!users.isEmpty()}" class="grade">


            <div th:each="user : ${users}" class="card">
                <div class="card-header">
                <p th:text="${user.nome}" class="card-nome"></p>
                    <div class="card-labels">
                    <span th:text="${user.cargo}" class="card-cargo"></span>
                    <span th:text="${user.status}" class="card-status"></span>
                    </div>
                </div>
                <p th:text="${user.email}" class="card-email"></p>
                <p th:text="${user.idLivroAlugado != null ? user.idLivroAlugado : 'Nenhum livro alugado'} " class="card-idLivro"> </p>


                <div class="botoes">
                    <a th:href="@{/editar/{id}(id=${user.id})}" class="btn-editar">Editar</a>
                    <a th:href="@{/excluir/{id}(id=${user.id})}" class="btn-deletar">Deletar</a>
                </div>
            </div>
        </div>


        <p class="mensagem-vazia" th:if="${users.isEmpty()}">Nenhum usuário cadastrado</p>


    <div class="mensagem-erro" th:if="${mensagemErro}">
        <p th:text="${mensagemErro}"></p>
    </div>

</body>
</html>