<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Alugados</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styleLivrosAlugados.css}">
</head>
<body>

    <div class="cabecalho">
        <div class="logo">
            <a th:href="@{/home}"><img th:src="@{/images/BIBLIOTECH.png}" alt="logo"></a>
            <h1>BIBLIOTECH</h1>
        </div>
        <h1>Meus Alugados</h1>
        <a class="btn-voltar" th:href="@{/home}">Voltar</a>
    </div>

<div class="grade">
    <div class="card" th:each="livro : ${livros}">
        <img th:src="${livro.urlCapa}" th:alt="${livro.nome}">
        <p class="card-nome" th:text="${livro.nome}"></p>
        <p class="card-autor" th:text="${livro.autor}"></p>
        <p class="card-data"
           th:if="${datasAluguel[livro.id] != null}"
           th:text="'Devolver até: ' + ${#temporals.format(datasAluguel[livro.id].plusDays(7), 'dd/MM/yyyy')}">
        </p>
        <span th:if="${datasAluguel[livro.id] != null and #temporals.createNow().isAfter(datasAluguel[livro.id].plusDays(7))}"
              style="color: red; font-weight: bold;">
    Pendente
</span>
    </div>
</div>

<p th:if="${livros.isEmpty()}">Nenhum livro alugado</p>

</body>
</html>